@model IEnumerable<MangaLibrary.Models.book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Books</h2>
@if (User.IsInRole("Admin"))
{
<h3>
    @Html.ActionLink("Add Books", "Create",null , new { @class = "btn btn-primary" })
    <a class="btn btn-info" href="@Url.Action("ExportBook")">Download Books</a>
</h3>}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.bname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contents)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pages)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.edition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.author.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category.catname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.publisher.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.bname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contents)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pages)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.edition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.author.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.category.catname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.publisher.name)
        </td>
        <td class="btn-group">
            @if (User.IsInRole("Admin"))
            {

                @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-info" })

            @*}
            @if (User.IsInRole("Admin"))
            {*@

                @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })

            }
            @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn btn-primary" })
            
        </td>
    </tr>
}

</table>
